header {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  background: white; }
  header .header-content-container {
    width: 100%;
    max-width: 1020px;
    margin: auto; }
    header .header-content-container::after {
      content: "";
      clear: both;
      display: table; }
  header::after {
    content: "";
    clear: both;
    display: table; }
  header .header-promo {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    background: #747373;
    color: white;
    padding: 8px;
    text-align: center;
    box-sizing: border-box; }
    @media (min-width: 800px) {
      header .header-promo {
        padding: 8px 16px; } }
    header .header-promo::after {
      content: "";
      clear: both;
      display: table; }
    header .header-promo span.promo-message {
      display: inline-block; }
      @media (min-width: 800px) {
        header .header-promo span.promo-message {
          float: left; } }
    header .header-promo span.promo-message-optional {
      display: none; }
      @media (min-width: 620px) {
        header .header-promo span.promo-message-optional {
          margin: 0 12px;
          padding: 0 12px;
          border-left: 1px solid rgba(255, 255, 255, 0.64);
          display: inline-block; } }
      @media (min-width: 800px) {
        header .header-promo span.promo-message-optional {
          float: left; } }
    header .header-promo span.promo-site-info {
      display: none; }
      @media (min-width: 800px) {
        header .header-promo span.promo-site-info {
          display: inline-block;
          float: right;
          margin: 0 12px; } }
  header .header-menu-icon {
    font-size: 20px;
    display: block;
    height: 60px;
    width: 60px;
    float: left;
    color: #00A14B; }
    @media (min-width: 620px) {
      header .header-menu-icon {
        width: 106px;
        border-right: 1px solid rgba(0, 0, 0, 0.08); } }
    @media (min-width: 800px) {
      header .header-menu-icon {
        display: none; } }
    header .header-menu-icon i {
      display: inline-block;
      margin: 20px 0 0 20px; }
    header .header-menu-icon .menu-caption {
      display: none; }
      @media (min-width: 620px) {
        header .header-menu-icon .menu-caption {
          display: inline-block;
          clear: none;
          font-size: 12px;
          vertical-align: top;
          font-weight: bold;
          text-transform: uppercase;
          margin-top: 25px;
          margin-left: 5px; } }
  header .header-search-icon {
    font-size: 24px;
    display: block;
    height: 60px;
    width: 48px;
    float: right;
    color: #747373; }
    @media (min-width: 800px) {
      header .header-search-icon {
        display: none; } }
    header .header-search-icon i {
      margin: 18px 8px 0; }
  header .header-account-icon {
    display: none; }
    @media (min-width: 800px) {
      header .header-account-icon {
        font-size: 24px;
        display: block;
        box-sizing: border-box;
        height: 60px;
        width: 160px;
        float: right;
        color: #066c3c;
        margin-top: 26px;
        padding: 0 10px;
        border-right: 1px solid rgba(0, 0, 0, 0.12); }
        header .header-account-icon .fa-user-circle {
          float: left;
          margin: 18px 8px 0; }
        header .header-account-icon .account-caption {
          float: left;
          font-size: 12px;
          font-weight: bold;
          font-style: italic;
          display: block;
          margin: 16px 4px 0; }
          header .header-account-icon .account-caption span {
            float: left;
            font-size: 16px;
            font-style: normal; } }
  header .header-cart-icon {
    font-size: 24px;
    display: block;
    height: 60px;
    width: 48px;
    float: right;
    color: #92B15F;
    position: relative; }
    @media (min-width: 800px) {
      header .header-cart-icon {
        font-size: 28px;
        margin: 24px 36px 0 16px; } }
    header .header-cart-icon i {
      margin: 18px 8px 0; }
    header .header-cart-icon .cart-quantity {
      font-size: 14px;
      position: absolute;
      top: 6px;
      right: -4px;
      padding: 5px 8px;
      border-radius: 24px;
      background: #F16637;
      color: white;
      font-weight: bold; }
      @media (min-width: 800px) {
        header .header-cart-icon .cart-quantity {
          right: -10px; } }
  header .header-logo-mobile {
    margin: 6px 0 0;
    position: relative;
    left: calc(50% - 176px); }
    @media (min-width: 620px) {
      header .header-logo-mobile {
        left: calc(50% - 212px); } }
    @media (min-width: 800px) {
      header .header-logo-mobile {
        display: none; } }
  header .header-logo {
    display: none; }
    @media (min-width: 800px) {
      header .header-logo {
        display: block;
        position: static;
        float: left;
        margin: 12px 0 12px 24px;
        width: 186px; } }
  header form.header-search {
    float: left;
    color: #747373;
    width: 100%;
    height: 0;
    position: relative;
    background: white;
    transition: height 200ms;
    z-index: 5;
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    background: rgba(0, 0, 0, 0.02); }
    header form.header-search.show {
      height: 60px; }
    @media (min-width: 800px) {
      header form.header-search {
        display: block;
        position: relative;
        height: auto;
        width: calc(100% - 512px);
        margin: 24px 0 0 36px;
        border: 0;
        background: none; } }
    header form.header-search i.search-close {
      margin: 0;
      padding: 22px; }
      @media (min-width: 800px) {
        header form.header-search i.search-close {
          display: none; } }
    header form.header-search input.search-input {
      width: calc(100% - 70px);
      padding: 0 16px;
      margin: 10px 0 0;
      border: 1px solid rgba(0, 0, 0, 0.12);
      height: 40px;
      box-sizing: border-box;
      vertical-align: top;
      border-radius: 20px;
      background: rgba(0, 0, 0, 0.04); }
      @media (min-width: 800px) {
        header form.header-search input.search-input {
          width: 100%;
          padding: 24px; } }
    header form.header-search button.search-button {
      position: absolute;
      right: 16px;
      top: 10px;
      height: 40px;
      width: 40px;
      border: 0;
      padding: 0;
      background: none;
      color: rgba(0, 0, 0, 0.56); }
      @media (min-width: 800px) {
        header form.header-search button.search-button {
          top: 14px;
          right: 10px; } }
      header form.header-search button.search-button i {
        margin: 0; }

nav.header-mobile-menu {
  position: fixed;
  top: 88px;
  width: 100%;
  z-index: 2;
  background: white;
  transition: top 200ms;
  display: none; }
  @media (min-width: 800px) {
    nav.header-mobile-menu {
      display: none !important; } }
  nav.header-mobile-menu a.menu-item {
    width: 100%;
    display: block;
    padding: 16px;
    border-bottom: 1px solid #747373;
    text-decoration: none; }
    nav.header-mobile-menu a.menu-item.menu-account {
      background: #747373;
      color: white; }

nav.header-menu {
  width: 100%;
  height: 32px;
  background: #747373;
  background: -moz-linear-gradient(top, #747373 0%, #919191 100%);
  background: -webkit-linear-gradient(top, #747373 0%, #919191 100%);
  background: linear-gradient(to bottom, #747373 0%, #919191 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#747373', endColorstr='#919191', GradientType=0); }
  nav.header-menu .menu-container {
    width: 100%;
    max-width: 1020px;
    margin: auto; }
  nav.header-menu .menu-item {
    font-size: 12px;
    height: 32px;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    -moz-transform: skew(-20deg);
    -webkit-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: skew(-20deg); }
    nav.header-menu .menu-item .fa-angle-down {
      font-size: 10px; }

div.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.48);
  z-index: 0; }

/*# sourceMappingURL=style.css.map */
